django
gunicorn
daphne
whitenoise
psycopg2-binary
requests
urllib3
djangorestframework
python-dotenv
djangorestframework
django-cors-headers
djangorestframework-simplejwt
python-decouple
django-role-permissions
